<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>Student Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}">
</head>
<body>
    <h1 class="title">Student Management System</h1>
    <h2 class="subtitle">Student Detail</h2>
    <p><strong>First Name:</strong> {{ student.first_name }}</p>
    <p><strong>Last Name:</strong> {{ student.last_name }}</p>
    <p><strong>Email:</strong> {{ student.email }}</p>
    <p><strong>Date of Birth:</strong> {{ student.date_of_birth }}</p>
    <a href="{% url 'student_list' %}" class="back-button">Back to List</a>
</body>
</html>
