<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>Student Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}">
</head>
<body>
    <h1 class="title">Student Management System</h1>
    <h2 class="subtitle">Student List</h2>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>
                <a href="{% url 'student_detail' student.pk %}">View</a> |
                <a href="{% url 'student_update' student.pk %}">Edit</a> |
                <a href="{% url 'student_delete' student.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'student_create' %}" class="create-button">Create New Student</a>
</body>
</html>
